<html lang="es">
    <%- include ('./partials/head') %>
    <body>
        <header>
            <%- include ('./partials/nav') %>
            <div class="search-bar">
                <textarea placeholder="Buscar"></textarea>
            </div>
        </header>
        <main>
            <section style="margin: 1.5em;">
                <h2>Marcas</h2>
                <% brands.forEach(brand => { %>
                    <h3><%= brand.name %></h3>
                    <section class="<%= brand.class %>" style="display: flex;align-items: center;justify-content: space-around">
                        <% brand.image.forEach(img => { %>
                            <div style="text-align: center;"><h4><%= img.art %></h4></div>
                            <img src="<%= img.path %>" alt="<%= img.alt %>" style="height: 70vh">
                        <% }) %>
                    </section>
                <% }) %>
            </section>
        </main>
        <%- include ('./partials/footer') %>
    </body>
</html>