<html lang="es">
    <%- include ('./partials/head') %>
    <body>
        <header>
            <%- include ('./partials/nav') %>
            <div class="search-bar">
                <textarea placeholder="Buscar"></textarea>
            </div>
        </header>
        <main>
            <section class="brand">
                <% brands.forEach(brand => { %>
                    <h3><%= brand.name %></h3>
                    <section class="<%= brand.class %>">
                        <% brand.image.forEach(img => { %>
                            <div>
                                <h4><%= img.art %></h4>
                                <img 
                                    class="<%= img.type %><%= img.adic ? ' ' + img.art + ' multiple' : '' %>" 
                                    src="<%= img.path %>" 
                                    alt="<%= img.alt %>"
                                >                                   
                            </div>
                        <% }) %>
                    </section>
                <% }) %>
            </section>
        </main>
        <%- include ('./partials/footer') %>
    </body>
</html>