<html lang="es">
    <%- include ('./partials/head') %>
        <script src="/js/swiper2.js" defer></script>
    </head>
    <body>
        <header>
            <%- include ('./partials/nav') %>
            <div class="search-bar">
                <textarea placeholder="Buscar"></textarea>
            </div>
        </header>
        <main>
            <section class="brand">
            <% brands.forEach(brand => { %>
                <h3><%= brand.name %></h3>
                <section class="<%= brand.class %>">

                <!-- Swiper principal -->
                <div class="swiper <%= brand.class %>-main-swiper">
                    <div class="swiper-wrapper">
                    <% brand.image.forEach((img, i) => { %>
                        <div class="swiper-slide" data-hash="slide<%= i+1 %>">
                        <h4><img class="cherry-thumb" src="/img/cherrykiss2.png"></i> <%= img.desc ? img.art + ' ' + img.desc : img.art %></h4>
                        <img 
                            class="<%= img.type %>"
                            id="img-<%= brand.class %>-<%= i+1 %>" 
                            src="<%= img.path %>" 
                            alt="<%= img.alt %>">
                        </div>
                    <% }) %>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>

                <!-- Swiper de thumbnails -->
                <div class="swiper <%= brand.class %>-thumbs-swiper">
                    <div class="swiper-wrapper">
                    <% brand.image.forEach((img, i) => { %>
                        <div class="swiper-slide">
                        <img 
                            class="thumb" 
                            src="<%= img.path %>" 
                            alt="<%= img.alt %>">
                        </div>
                    <% }) %>
                    </div>
                </div>

                </section>
            <% }) %>
            </section>
        </main>
        <%- include ('./partials/footer') %>
    </body>
</html>