<html lang="es">
    <%- include ('./partials/head') %>
    <body>
        <header>
            <%- include ('./partials/nav') %>
            <div class="search-bar">
                <textarea placeholder="Buscar"></textarea>
            </div>
        </header>
        <main>
            <!-- Slider main container -->
            <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
            <% banners.forEach(b => { %>
                                <div class="swiper-slide"><img src="/img/<%= b.image %>" alt="<%= b.alt %>"></div>
                                <% }) %>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
            </div>
            <section class="brands">
                <h2>Marcas Destacadas</h2>
                <div class="brands logos">
                    <% brands.forEach(brand => { %>
                    <a href="#"><div class="brand <%= brand.name %>"><img src="/img/<%= brand.image %>"></div></a>
                    <% }) %>
                </div>
            </section>
        </main>
        <%- include ('./partials/footer') %>
    </body>
</html>